<div class="filters-block">
    <a style="display: block" *ngFor="let item of arr" 
    [routerLink]="['/home']">

        <span class="name">name: {{item.name}}</span>
        <span class="age">age: {{item.age}}</span>
    </a>
</div>
<h1>This is Content</h1>
<div class="wraper">
    <div *ngFor="let item of arr1">

        <span class="name">name: {{item.name}}</span>
        <span class="age">age: {{item.age}}</span>
        <span class="status">isVerify: {{item.status}}</span>


    </div>
</div>
